.start-body {
	font-family: verdana;
	background-color: #ecf0f1;
}
.normal-container {
	width: 70%;
	height: auto;
	min-width: 30em;
	max-width: 60em;
	margin: 0 auto;
}
.start-login {
	width: 100%;
	height: 7em;
	margin: 3em auto 0 auto;
}
.start-login-login {
	font-size: 2.5em;
	text-decoration: none;
	color: #2c3e50;
	border: 0.07em solid;
	border-radius: 2em;
	padding: 0.5em;
	float: left;
}
.start-login-login:hover {
	background-color: #2c3e50;
	color: #ecf0f1;
}

.start-login-register {
	font-size: 2.5em;
	text-decoration: none;
	color: #2c3e50;
	border: 0.07em solid;
	border-radius: 2em;
	padding: 0.5em;
	float: right;
}
.start-login-register:hover {
	background-color: #2c3e50;
	color: #ecf0f1;
}
.start-login-username {
	font-size: 2.5em;
	text-decoration: none;
	color: #2c3e50;
}
#login-name {
	display: none;
}

#login-panels {
	display: none;
}
.start-links {
	width: 100%;
	margin:  2em auto 0 auto;
}
.start-links-box {
	border-radius: 2em;
	margin: 2em 0 0 0;
	-webkit-box-shadow: 4px 9px 50px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 4px 9px 50px -10px rgba(0,0,0,0.57);
	box-shadow: 4px 9px 50px -10px rgba(0,0,0,0.57);
	background-color: white;
	width: 100%;
	height: 20em;
}
.start-links-right {
	width: 40%;
	float: right;
}
.start-links-left {
	width: 40%;
	float: left;
}
.start-links-box-icon {
	font-size: 10em;
	text-align: center;	
	padding: 0.5em 0;
}
.start-links-box-icon>a {
	text-decoration: none;
	color: #2c3e50;
}
.start-links-box-icon>a:hover {
	-webkit-transition: color 2s ease;
	-moz-transition: color 2s ease;
	-ms-transition: color 2s ease;
	-o-transition: color 2s ease;
	transition: color 2s ease;
	color: #ecf0f1;	
}

.footer {
	margin: 10em 0 0 0;
	width: 100%;
	height: 10em;
	left: 0em;
	bottom: 0em;
	position: absolute;
	background-color: #2c3e50;
}